/*header name*/

.header-portfolio{
  padding-left: 10px;
  color: rgb(142,185,89);
}

.header-portfolio-text{
  padding-left: 10px;
}

.portfolio-thumb-other{
  width: 65%;
  height: 65%;
}

.portfolio-description{
  margin-top: 10px;
  font-size: 12px;
}